/* Base Application Styles */
.content {
  max-width: 75em;
  margin: 0 auto;
}
.Grid {
  display: flex;
}

.Grid-cell {
  flex: 1;
}

/* With gutters */
.Grid--gutters {
  margin: -1em 0 0 -1em;
}
.Grid--gutters > .Grid-cell {
  padding: 1em 0 0 1em;
}

  /* Alignment per row */
.Grid--top {
  align-items: flex-start;
}
.Grid--bottom {
  align-items: flex-end;
}
.Grid--center {
  align-items: center;
}

/* Alignment per cell */
.Grid-cell--top {
  align-self: flex-start;
}
.Grid-cell--bottom {
  align-self: flex-end;
}
.Grid-cell--center {
  align-self: center;
}

.Grid--visualizations {
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.Grid-cell--visualizations {
  height: 400px;
}

.Grid-cell--visualizations_timeline {
  height: 200px;
}

.Grid--visualizations__timeline {
  height: 300px;
}

.Grid-cell--timeline {
  text-align: center;
}

.Grid--Nav {
  padding: 0;
}

.header {
  margin: 1em 0;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.map-country {
  cursor: pointer;
  stroke: rgb(170, 170, 170);
}

.map-country__deselected {
  fill-opacity: 0.2;
  stroke-opacity: 0.8;
  cursor: pointer;
  stroke: rgb(170, 170, 170);
}

.map-country__selected {
  cursor: pointer;
  fill-opacity: 1;
  stroke: rgb(170, 170, 170);
}

.map-country-text {
  font-size: 1em;
  cursor: pointer;
  text-anchor: middle;
}

.treemap {
  position: relative;
}

.treemap--rect {
  fill-opacity: 0.5;
  fill: rgb(170, 170, 170);
  stroke: rgb(170, 170, 170);
}

.legend {
  flex-direction: column-reverse;
  max-height: 400px;
}

p.key-text {
  margin: 0;
  padding-left: 5px;
  align-self: flex-end;
}

li.key {
  border-left-width: 20px;
  border-left-style: solid;
  padding-top: 5em;
  font-size: .75em;
  width: 10em;
}

.question {
  height: 3em;
}

ul {
  list-style: none;
}

.treemap {
  margin: 0 auto;
}

.intro {
  width: 450px;
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0;
}

.time-line {
  stroke: steelblue;
  stroke-width: 1;
  opacity: 0.5;
  fill: none;
}

.time-line__axis {
  stroke: black;
  stroke-width: 1;
  opacity: 1;
  fill: none;
}

.time-line__selected {
  stroke: black;
  stroke-width: 3;
  opacity: 1;
  fill: none;
}

.time-line__hide {
  opacity: 0;
  stroke: steelblue;
  stroke-width: 1;
  fill: none;
}
