/* Base Application Styles */
.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.map-country {
  cursor: pointer;
  stroke: rgb(170, 170, 170);
}

.map-country__deselected {
  fill-opacity: 0.2;
  stroke-opacity: 0.8;
  cursor: pointer;
  stroke: rgb(170, 170, 170);
}

.map-country__selected {
  cursor: pointer;
  fill-opacity: 1;
  stroke: rgb(170, 170, 170);
}

.map-country-text {
  cursor: pointer;
  text-anchor: middle;
}

.treemap {
  position: relative;
}

.treemap--rect {
  fill-opacity: 0.5;
  fill: rgb(170, 170, 170);
  stroke: rgb(170, 170, 170);
}


